<header>
  <h1>Astronauts</h1>
</header>

<body>
  <div id="astronauts">
    <% @astronauts.each do |astronaut| %>
      <div id="astronaut-<%= astronaut.id %>">
        <h5><%= astronaut.name %></h5>
        <p>Age: <%= astronaut.age %></p>
        <p>Job: <%= astronaut.job %></p>
        <p>Total Time in Space: <%= astronaut.total_spacetime %></p>
        <div id="astronaut-<%= astronaut.id %>-missions">
          <% astronaut.ordered_missions_by_title.each do |mission| %>
            <b>Missions:</b>
            <%= mission.title %>
          <% end %>
        </div>
      </div><hr>
    <% end %>
  </div><hr>
  <div id="average-age">
    <p>Average Age: <%= @average_age %></p>
  </div>
</body>